$cb-color-black: #121212;
$cb-color-gray-1: #7a7a7a;
$cb-color-gray-2: #c9c9c9;
$cb-color-gray-3: #e4e4e4;
$cb-color-gray-4: #f4f4f4;
$cb-color-gray-5: #d8d8d8;
$cb-color-white: #fff;
$cb-color-main: #2b87db;
$cb-color-main-hover: #256ba5;
$cb-color-gray: #c9c9c9;
$cb-color-gray-hover: #7a7a7a;
$cb-color-orange: #ff9d00;
$cb-color-orange-hover: #af6800;
$cb-color-red: #ff5050;
$cb-color-red-hover: #b23939;
$cb-color-green: #2e9e00;
$cb-color-green-hover: #185100;
$cb-color-sand: #fff5d4;
$cb-color-sand-hover: #ffefbd;
$cb-color-popup_overlay: rgba(24, 41, 48, 0.8);
$cb-font-light: 300;
$cb-font-regular: 400;
$cb-font-semibold: 600;
$cb-font-bold: 700;
$cb-font-black: 900;

$secondary_button_10: rgba(4, 104, 255, 0.1);
$superblack_40: rgba(0, 0, 0, 0.4);
$superblack_60: rgba(0, 0, 0, 0.6);
$superblack_10: rgba(0, 0, 0, 0.1);
$superblack_100: #000;
$superblack_20: rgba(0, 0, 0, 0.2);
$superblack_6: rgba(0, 0, 0, 0.05);
$success_100: #3ac500;
$success_10: rgba(58, 197, 0, 0.1);
$error_100: #ff1f34;
$error_10: rgba(255, 31, 52, 0.1);
$sokolniki_100: #ef161e;
$fill_primary_active_100: #075ad9;
$purple_label_80: rgba(135, 41, 255, 0.8);
$zamoskvoreckaya_100: #2dbe2c;
$fill_error_primary_active_100: #d02037;
$arbatskaya_100: #0078be;
$fill_success_secondary_active_20: rgba(64, 109, 46, 0.2);
$filevskaya_100: #00bfff;
$kolcevaia_100: #8d5b2d;
$fill_primary_hover_100: #0661ec;
$purple_label_100: #8729ff;
$rijckaya_100: #ed9121;
$fill_secondary_active_30: rgba(24, 69, 135, 0.3);
$taganskaya_100: purple;
$fill_success_primary__active_100: #33a40d;
$colncevo_100: #ffd702;
$fill_success_primary__hover_100: #36b507;
$temirazevskaya_100: #999;
$fill_error_secondary__active_20: rgba(158, 34, 45, 0.2);
$lublino_100: #9c0;
$fill_error_secondary_hover_16: rgba(187, 44, 57, 0.15);
$big_kolcevaya_100: #82c0c0;
$fill_error_primary_hover_100_: #e81f35;
$butovo_100: #a1b3d4;
$monorels_100: #99f;
$fill_success_secondary_hover_16: rgba(76, 146, 47, 0.15);
$mck_100: #de64a1;
$fill_secondary_hover_20: rgba(15, 72, 157, 0.2);
$purple_label_10: rgba(135, 41, 255, 0.1);
$kommynarskaya_100: #d8d8d8;
$gray20_100: #ced1d7;
$gray_icons_100: #737a8e;
$black_icons_60: rgba(21, 34, 66, 0.6);
$black_control_80: rgba(0, 0, 0, 0.8);
$white_icons_60: hsla(0, 0%, 100%, 0.6);
$warning_100: #ff7e00;
$warning15_100: #fff5d4;
$focused_15: #83b4ff;
$black_100: #152242;
$black_60: rgba(21, 34, 66, 0.6);
$white_100: #fff;
$primary_100: #0468ff;
